<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Push-up Log</title>
</head>
<body>

    {% extends "base.html" %} {% block head %} {{ super() }}
    {% endblock %}

    {% block content %}
    <h1>Edit Push-up Log</h1>
    <form method="POST" action="">
        <label for="pushup_count">Push-ups:</label>
        <input type="number" name="pushup_count" id="pushup_count" value="{{ pushup[1] }}" required>
        <br>
        <label for="comment">Comment:</label>
        <input type="text" name="comment" id="comment" value="{{ pushup[2] }}">
        <br>
        <button type="submit">Update</button>
    </form>
    {% endblock %}
</body>
</html>
